.Accueil{
    .logo{
        width: 100px;
    }
    
    .topboxes{
        padding-bottom: 60px;
        margin-top: -120px;
        @media screen and (max-width: 350px) {
            margin-top: -60px;
        }
        .col{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            // margin: 10px !important;
        }
        .singleBox{
            text-align: center;
            background: whitesmoke;
            border: 1px solid gainsboro;
            padding: 35px 10px;
            box-shadow:  10px -10px 5px rgba(0, 0, 0, 0.2), -10px 10px 5px rgba(0, 0, 0, 0.2);
            // border-radius: 15px;
            transition: box-shadow 1s;
            @media screen and (max-width: 350px) {
                padding: 10px 10px;
            }
            min-width: 227px;
            max-width: 340px;
            &:hover{
                box-shadow:  0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 rgba(0, 0, 0, 0.2);
            }
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 1px solid gainsboro;
                background: $blue2;
                border: 2px solid $blue1;
            }
            h3{
                font-size: 20px;
                font-weight: bold;
                background: $blue1;
                color: $blue2;
                padding: 5px;
                margin-top: 15px;
                text-transform: uppercase;
                border-radius: 39px;
                box-shadow: 2px 2px 0 $blue2, -2px 4px 0 $blue3;
            }
            p{
                font-size: 16px;
                line-height: 2;
                margin-bottom: 0;
            }
        }
    }
    .Separator {
        height: 100px;
        // border: 1px solid;
        display: flex;
        align-items: center;
        font-size: 23px;
        color: $blue1;
        font-weight: 500;
        font-style: italic;
        font-family: serif;
        .separator-col{
            position: relative;
            img{
                position: absolute;
                top: -58px;
                left: -80px;
                bottom: -51px;
                width: 141px;
                z-index: 10;
            }
            span{
                padding-left: 20px;
            }
        }
    }
    .About {
        min-height: 70vh;
        background: url(/img/bg-about2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        .row{
            position: relative;
            &:before{
                content: "";
                position: absolute;
                left: -120px;
                bottom: 0;
                height: 100%;
                width: 120px;
                background: rgba(23, 53, 83, 0.81);
            }
            &:after{
                content: "";
                position: absolute;
                right: -120px;
                bottom: 0;
                height: 100%;
                width: 120px;
                background: rgba(23, 53, 83, 0.81);
            }
        }
        .col{
            min-height: 70vh; 
            &.about-left{
                display: flex;
                justify-content: flex-end;
                align-items: center;
                text-align: right;    
                background: rgba(23, 53, 83, 0.81);  
                @media only screen and (max-width: $tablet) {
                    justify-content: center;
                    text-align: center;
                }  
                h1{
                    color: gainsboro;
                    br{

                    }
                }
            }
            &.about-right{
                display: flex;
                align-items: center;
                background: rgba(222, 228, 228, 0.68); 
                .inner-div{
                    padding-left: 50px;
                    padding-right: 20px;
                    @media screen and (max-width: 512px) {
                        padding-left: 0;
                        padding-right: 0;
                    }
                    h2{
                        color: $blue1;
                    }
                    h4{
                        color: lighten($blue1, 0.8);
                    }
                    p{

                    }
                }
            }
        }
    }

    .ExpDom{
        background: url(/img/pattern2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        .ExpDom-overlay{
            background: rgba(220, 220, 220, 0.74);
        }
        h3{
            font-size: 20px;
            font-weight: 900;
            text-transform: uppercase;
            text-align: center;
            text-decoration: underline;
            color: $blue1;
            margin-bottom: 20px;
        }
        .ExpDom-left-col{
            padding-right: 0;
        }
        .ExpDom-left{
            padding-top: 30px;
            padding-right: 10px;
            border-right: 15px solid #4f657c;
            height: 100%;
            @media only screen and (max-width: $tablet) {
                border-right-width: 0;
                border-bottom: 15px solid #4f657c;
                padding-bottom: 20px;
            }  
            .expertisesWrapper{
                ul{
                    margin-bottom: 50px;
                    li{
                        font-size: 14px;
                        list-style: none;
                        position: relative;
                        margin-bottom: 20px;
                        .fa-chevron-circle-right {
                            position: absolute;
                            left: -15px;
                            top: 5px;
                            color: $blue1;
                        }
                    }
                }
            }
        }
        .ExpDom-right{
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 15px;
            .domainesWrapper{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .domaine{
                    width: 300px;
                    margin: 10px;
                    &:hover{
                        img{
                            box-shadow: 4px 4px 0px gainsboro, 8px 8px 0px $blue2;
                        }
                    }
                    img{
                        width: 50px;
                        height: 50px;
                        box-shadow: 4px 4px 0px gainsboro, 8px 8px 0px $blue1;
                        // background: $blue3;
                        border-top-right-radius: 50%
                    }
                    h1{ 
                        font-size: 16px;
                        font-weight: 900;
                        letter-spacing: 1.1px;
                        color: $blue1;
                        text-shadow: 1px 1px white;
                        margin-top: 10px;
                    }
                    ul{
                        margin-bottom: 0;
                        li{
                            font-size: 14px;
                            list-style: none;
                            position: relative;
                            .fa-chevron-circle-right {
                                position: absolute;
                                left: -15px;
                                top: 5px;
                                color: $blue1;
                            }
                        }
                    }
                }
            }
        }
    }

    .Experts{
        background: url(/img/map.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        .Experts-overlay{
            background: rgba(23, 53, 83, 0.74);
            padding: 50px 10px; 
        }
        h3{
            text-align: center;
            text-transform: uppercase;
            font-weight: 900;
            color: $blue1;
            text-shadow: 1px 1px 0  gainsboro;
            letter-spacing: 1.2px;
        }
        .expertsWrapper{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0 30px;
            .expert{
                margin: 20px;
                border: 3px double $blue1;
                border: 3px double $blue1;
                text-align: center;
                width: 180px;
                position: relative; 
                box-shadow: 0 0 10px;
                background: white;
                cursor: pointer;
                transition: all 1s;
                &:hover{
                    box-shadow: 0 0 30px; 
                    transform: translateY(-10px) ;
                    .expertText{
                        background: $blue2;
                    }
                }
                img{
                    width: 100%;
                    height: 150px;

                }
                a{
                    color: white;
                }
                .expertText{
                    background: rgba(23, 53, 83, 0.92);
                    color: white;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 56px;
                    overflow: hidden;
                    h4{
                        font-size: 15px;
                        margin-bottom: 0;
                    }
                    p{
                        font-size: 13px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}