.Contact{
    .coordonnees{
        margin-bottom: 50px;
        .innerWrapper{
            background: $blue1;
            color: gainsboro;
            margin-top: 50px;
            box-shadow: 0 0 20px black;
            .iw-header{
                text-align: center;
                width: 150px;
                margin: -34px auto 10px;
                background: $blue2;
                padding: 5px;
                border-radius: 24px;
                box-shadow: inset 0 0 30px $blue1;
                h4{
                    font-size: 20px;
                    color: white;
                }
            }
            &.iw-left{
                padding: 10px;
                p{
                    margin-left: 100px;
                    position: relative;
                    span{
                        margin-left: -91px;
                        position: absolute;
                        text-decoration: underline;
                        font-weight: 700;
                    }
                }
                a{
                    color: gainsboro;
                }
            }
            &.iw-right{
                padding: 10px;
                p{
                    margin-left: 150px;
                    position: relative;
                    span{
                        margin-left: -130px;
                        position: absolute;
                        text-decoration: underline;
                        font-weight: 700;
                    }
                }
                hr{
                    margin-top: 0 !important;
                    margin-bottom: 0 !important;
                }
                .note{
                    padding: 5px 15px;
                    margin-bottom: 10px;
                    text-align: center;
                    font-size: 12px;
                    text-shadow: 1px 1px black;
                }
            }
        }
    }
    h3{
        color: $blue1;
        text-decoration: underline;
        text-transform: capitalize;
    }
    form{
        .formField{
            margin: 15px 0;
            label{
                color: $blue1;
                font-style: italic;
                span{
                    color: red;
                }
            }
        }
        .submitBtn {
            text-align: center;
            .btn{
                padding: 5px 80px;
                background: $blue2;
                color: $blue1;
            }
        }
    }
}