.Domaines{
    .Domaines-left{
        text-align: center;
        padding: 20px;    
        img{
            width: 100px;
            box-shadow: 30px 30px 0px grey, -30px 30px 0px gainsboro;
            background: gray;
            border-radius: 50%; 
            border-top-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        h1{
            font-size: 20px;
            font-weight: 900;
            letter-spacing: 1.1px;
        }
    }
    .Domaines-right{
        h1{
            font-size: 20px;
            font-weight: 900;
            letter-spacing: 1.1px;
        }
    }
    .position{
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
        padding: 10px 0;
        
    }
    .position:nth-child(even){
        .Domaines-left{
            h1{
                color: $blue2;
                text-shadow: 2px 2px $blue1;
            }
            img{
                background: $blue2;
            }
        }
        .Domaines-right{
        
        }
        .colLeft{
            border-right: 1px solid gainsboro;
        }
    }
    .position:nth-child(odd){
        background: gainsboro; 
        img{
            box-shadow: 30px 30px 0px grey, -30px 30px 0px rgba(0,0,0,0.2);
        }
        .colLeft{
            border-right: 1px solid #a1adb1;
        }
        .Domaines-left{
            h1{
                color: $blue1;
                text-shadow: 2px 2px $blue2;
            }
            img{
                background: $blue3;
            }
        }
    }
    .Domaines-right{
        h1{
            font-size: 20px;
            color: $blue1;
        }
        ul{
            li{
                font-size: 15px;
            }
        }
    }
}