.Expertise{
    h4{
        text-transform: uppercase;
        color: $blue1;
        text-decoration: underline;
        font-weight: 800;
    }
    p{
        text-align: justify;
    }
    .expertise-wrapper{
        .expertise-header{
        }
        .btns{
            text-align: center;
            .btn{
                margin: 5px;
                &:hover{
                    background: $blue2;
                }
            }
        button[disabled]{
            cursor: not-allowed;
        }
        }
        .expertise-grid{
            background: url(/img/wall6.jpg);
            box-shadow: inset 0 0 20px rgba(0,0,0,0.5);
            background-attachment: fixed;
            border-radius: 5px;
            .expertise{
                height: 150px;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
                padding: 10px;
            }
            .col{
                perspective: 1000px;
                font-weight: 500;
                transition: transform 0.5s;
                cursor: crosshair;
            }
            .col:nth-child(odd) .expertise{
                background: gainsboro;
                border: 1px solid darkgrey;
                box-shadow: 0 0 5px rgba(0,0,0,.5);
                transform: perspective(534px) rotate(-3deg);
                &:hover{
                    transform: perspective(534px) rotate(0deg);
                }
            }            
            .col:nth-child(even) .expertise{
                background: $blue2;
                border: 1px solid #2d8fc5;
                box-shadow: 0 0 5px rgba(0,0,0,.5);
                transform: perspective(534px) rotate(2deg);
                &:hover{
                    transform: perspective(534px) rotate(0deg);
                }
            }           
            // .col:nth-child(3n+1) .expertise{
            //     background: $blue1;
            //     color: gainsboro;
            // }           
        }
    }
    .experts-grid{
        ul{
            // padding-left: 0;
            li{
                font-size: 16px;
                margin-bottom: 10px;
                // list-style: none;
                &:nth-child(odd){
                    // border-left: 5px solid $blue1;
                }
                &:nth-child(even){
                    // border-left: 5px solid $blue2;
                }
                .span2{
                    font-size: 13px;
                    font-style: italic;
                }
            }
        }
    }
}