.Presentation{
    .SubHeader{
        ul{
            padding-left: 0;
            // display: inline-flex;
            margin-bottom: 0;
            width: 210px;
            li{
                margin: 10px;
                margin-left: 0;
                padding: 5px 10px;
                list-style: none;
                border-left: 5px solid;
                background: $blue1;
                a{
                    color: white;
                    display: block;
                    &:hover{
                        text-decoration: none;
                    }
                }
                &.subheader-active{
                    position: relative;
                    padding-left: 12px; 
                    &:before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 3px;
                        bottom: 3px;
                        width: 5px;
                        background: $blue2;
                        border-radius: 5px;
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        left: 5px;
                        top: 6px;
                        bottom: 6px;
                        width: 5px;
                        background: $blue3;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
    .Content{
        padding: 10px;
        border: 1px solid gainsboro;
        background: rgba(220, 220, 220, 0.25);
        margin-bottom: 20px;
        .Berac{
            img{
                &.img-top{
                    // max-width: 700px;
                    width: 100%;
                }
                &.img-icon{

                }
            }
            h3{
                text-align: center;
                text-transform: uppercase;
                font-size: 22px;
                margin-top: 20px;
                color: $blue1;
            }
            h4{
                text-align: center;
                font-size: 18px;
                color: $blue2;
                font-style: italic;
                // margin-bottom: 20px;
            }
            p{
                line-height: 30px;
                font-size: 15px;
                text-align: justify;
            }
            .row{
                background: gainsboro;
                border-radius: 10px;
                margin: 15px 10px;
            }
            .col{
                min-height: 50vh;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    line-height: 34px;
                }
                &.iconcol{
                }
            }
            // li{
            //     text-transform: capitalize;
            // }
        }
        .Mvv{
            h3{

            }
            .line{
                min-height: 50vh;
                margin-bottom: 20px;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                box-shadow: 0 0 30px rgba(0,0,0,0.4);
                border-radius: 10px;
                transition: box-shadow 1s;
                color: gainsboro;
                &:hover{
                    box-shadow: 0 0 0;
                }
                &:nth-child(odd){
                    background: $blue1;
                }
                &:nth-child(even){
                    background: $blue2;
                    color: white;
                }
                h1{
                    // text-align: center;
                    text-transform: uppercase; 
                    font-size: 30px;
                }
                .title{
                    text-align: center;
                    img{
                        transition: transform 1s;
                        &:hover{
                            transform: rotate(360deg)
                        }
                    }
                }
                .text{
                    p{
                        line-height: 30px;
                        text-align: justify;
                        span{
                            
                        }
                    }
                }


                .mission{
                    
                }
                .vision{

                }
                .valeurs{
                }
                .valeurs-items{
                    display: flex;
                    // justify-content: space-around;
                    flex-wrap: wrap;
                    span{
                        margin: 5px; 
                        padding-right: 3px;
                        border: 1px dotted rgba(60, 185, 255, 0.52);
                        border-radius: 10px;
                        overflow: hidden;
                        .fa{
                            padding: 5px;
                            background: $blue2;
                        }
                    }
                }

            }
        }
    }
}