#root{
    overflow-x: hidden;
}
html {
    background: gray;
}
body{
    overflow-x: hidden;
    max-width: 1349px;
    margin: 0 auto !important;
    transition: all 3s;
}

.container{
    // @media only screen and (max-width: $tablet) {
    //     margin-left: 20px !important;
    //     margin-right: 20px !important;
    // }
}
@media (min-width: 576px) and (max-width: $tablet){
.container {
    max-width: 689px !important;
}
}

.scrollTop {
    background: lightgrey;
    width: 35px;
    height: 38px;
    color: gray;
    text-align: center;
    font-size: 25px;
    border-radius: 3px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    display: none;
    cursor: pointer;
    z-index: 10000;
    &.show{
        display: block;
    }
}

.Header{
    // min-height: 75vh;
    background: radial-gradient(ellipse at center, $blue2, $blue1);
    background-repeat: no-repeat;
    background-size: cover;
    // .header-overlay{
    //     padding: 20px 0 50px 0;
    //     height: 75vh;
    //     background: rgba(0,0,0,0.5);
    // }
    .topcontact{
        margin-bottom: 15vh;
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // background: gainsboro;
        // border: 1px solid gray;
        width: 100%;
        align-items: center;
        @media only screen and (max-width: $tablet) {
            justify-content: center;
            margin-bottom: 10vh;
        }
        .top-logo{
            width: 100px;
            height: 60px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .top-contact{
            // width: 100px;
            ul{
                display: inline-flex;
                flex-wrap: wrap;
                align-items: center;
                margin-bottom: 0;
                li{
                    display: inline-flex;
                    align-items: center;
                    flex-wrap: wrap;
                    margin: 5px;
                    padding: 0 5px;
                    .contact-img{
                        width: 50px;
                        height: 50px;
                        padding: 10px;
                        border-radius: 50%;
                        background: white;
                        margin-right: 5px;
                        border: 1px solid $blue1;
                        box-shadow: inset 0 0 15px $blue3;
                        img{
                            width: 100%;
                        }
                    }
                    .contact-text{
                        line-height: 1.2;
                        text-align: left;
                        .contact-title{
                            margin-bottom: 5px;
                            font-size: 16px;
                            text-transform: uppercase;
                            font-weight: 900;
                            color: white;
                            text-decoration: underline;
                        }
                        .contact-content{
                            margin-bottom: 0;
                            font-size: 14px;
                        }
                        a{
                            color: whitesmoke;
                        }
                    }
                }
            }
        }
    }
    .navbar{
        display: flex;
        background: $blue1;
        padding: 0;
        position: relative;
        box-shadow: 0 0 10px rgba(0,0,0,0.4);
        transition: box-shadow 1s;
        &:hover{
            box-shadow: 0 0 0;
        }
        .menu{        
            display: inline-flex;
            padding-left: 0;
            margin-bottom: 0;
            width: 100%;
            height: 50px;
            .menu-item{
                list-style: none;
                position: relative;
                padding: 15px 10px;
                transition: all 0.5s;
                &:hover{
                    .sub-menu{
                        display: block;
                        top: 100%;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 0;
                        height: 0;
                        background: transparent;
                        border-left: 10px solid transparent;
                        border-top: 10px solid $blue2;
                        border-right: 10px solid transparent;
                    }
                }
                a{
                    color: whitesmoke;
                    font-weight: bold;
                    letter-spacing: 1.1px;
                    &.menu-item-active{
                        color: $blue2;
                        &:after {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 0;
                            height: 0;
                            background: transparent;
                            border-left: 10px solid transparent;
                            border-top: 10px solid $blue2;
                            border-right: 10px solid transparent;
                        }
                    }
                    &:hover{
                        text-decoration: none;
                        // color: black;
                        text-decoration: underline;
                        text-decoration-color: $blue2
                    }
                }
                .sub-menu{
                    display: none; 
                    position: absolute;
                    top: 110%;
                    left: -10px;
                    width: 150px;
                    font-size: 13px;
                    padding-left: 0;
                    text-align: left;
                    transition: all 1s;
                    z-index: 1000;
                    .sub-menu-item{
                        list-style: none;
                        background: linear-gradient(to left, $blue1, transparent, $blue1);
                        padding: 1px 5px;
                        margin-bottom: 1px;
                        // border-bottom: 1px dashed;
                        a{
                            color: white;
                            display: block;
                        }
                    }
                }
            }
            .responsiveMenu {
                display: none;
                list-style: none;
                padding: 1px 10px;
                font-size: 30px;
                color: $blue2;
                border: 1px solid $blue2;            
            }
            @media only screen and (max-width: 589px) {
                .responsiveMenu{
                    display: block;
                }
                .menu-item{
                    display: none;
                }
            }
        }
        &:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            width: 20px;
            // height: 100%;
            background: $blue2;
            // transform: skew(-15deg);
            z-index: 1;
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            right: 25px;
            bottom: 5px;
            top: 5px;
            width: 20px;
            // height: 100%;
            background: $blue3;
            // transform: skew(-15deg);
            z-index: 1;
        }
    }
}
.responsiveMenuItems {
    position: absolute;
    top: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: $blue1;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    .sub-menu{
        display: none;
    }
    ul{
        padding-left: 0;
        li{
            list-style: none;
            margin: 10px;
            padding: 10px;
            a{
                color: gainsboro;
                &.menu-item-active{
                    color: $blue2;
                }
            }
        }
    }
    .close{
        color: white;
        background: $blue2;
        border-bottom: 1px dotted;
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 5px;
        border-radius: 20px;    
    }
}
.Intro{
    // height: 150px;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
    .intro-img {
        img {
            margin-top: -65px;
        }
    }
    span{
        margin-top: 20px;
        color: $blue2;
        text-shadow: 1px 1px $blue1;
    }
}
.Footer{
    .FooterTop{
        background: linear-gradient(to bottom, $blue1, gainsboro,gainsboro,gainsboro,gainsboro, $blue1);
        .ftopBar{
            height: 20px;
            background: $blue1;
        }
        @media only screen and (max-width: $tablet) {
            text-align: center;
        }
        .container{
            // position: relative;
            .certificate{
                position: relative;
                height: 100%;
                text-align: center;
                .certificate-img{
                    position: absolute;
                    left: 50%;
                    bottom: -19px;
                    transform: translateX(-50%) scaleY(1.5);
                    @media only screen and (max-width: $tablet) {
                        position: relative;
                        transform: none;
                    }
                }
            }
        }
        .ftWrapper{
            display: flex;
            flex-wrap: wrap;
            padding-left: 35px;
            padding: 20px 0;
            text-align: center;
            .ftIcon{
                width: 70px;
                height: 70px;
                margin: 10px 20px;
                img{
                    width: 100%;
                }
            }
            .ftText{
                padding-top: 15px;
                span{
                    text-decoration: underline;
                    font-style: italic;
                }
                p{
                    // margin-top: 10px;
                    color: $blue1;
                    strong{
                        font-size: 24px;
                    }
                }
            }    
        }
    }
    .FooterText{
        background: rgba(23, 53, 83, 0.74);
        color: gainsboro;
        padding-bottom: 30px;
        padding-top: 80px;
        .ftText-1{
            text-align: center;
            padding: 0 41px;
            img{
                width: 150px;
                margin-bottom: 10px;
            }
            h1{
                font-size: 18px;
            }
            h3{
                font-size: 15px;
            }
            p{
                font-size: 13px;
                strong{
                    // font-weight: ;
                }
            }
        }
        .ftText-2{
            // h1{
            //     font-size: 20px;
            // }
            p{
                text-align: left;
                font-size: 16px;
                margin-bottom: 2px;
                padding-left: 10px;
                .fa{
                    margin-left: -14px;
                    font-size: 22px;
                }
            }
        }
        .ftText-3{
            // h1{
            //     font-size: 20px;
            // }
           
        }
    }
    
    .FooterCopy{
        background: $blue1;
        color: gainsboro;
        text-align: center;
        padding: 5px;
        font-size: 15px;
    }
}
.ftH1{
    h1{
        font-size: 20px;
        position: relative;
        text-transform: uppercase;
        margin-bottom: 22px;
        &:after {
            position: absolute;
            content: "";
            bottom: -5px;
            left: 0;
            height: 5px;
            width: 90px;
            background: linear-gradient(to left,$blue1, $blue2, $blue3, $blue1);
        }
    }
}
.rs-links{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .rs-link{
        background: $blue1;
        margin: 5px;
        padding: 0 5px;
        width: 100px;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        transition: box-shadow 1s;
        &:hover{
            box-shadow: 0 0 30px rgba(0,0,0,0.5);
        }
        a{
            color: gainsboro;
            &:hover{
                text-decoration: none;
                .fa-facebook{
                    color: $facebook;
                }
                .fa-linkedin{
                    color: $linkedin;
                }
                .fa-whatsapp{
                    color: $whatsapp;
                }
                .fa-skype{
                    color: $skype;
                }
            }
        }
    }
}

// Link "En savoir plus >>"
.enSavoirPlus{
    text-align: center;
    margin: 10px;
a{
    padding: 5px 10px;
    background: $blue1;
    color: white;
    position: relative;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    transition: all 1s;
    &:hover{
        text-decoration: none;
        color: whitesmoke;
        .fa{
            transform: scaleY(2);
            padding-left: 5px;
        }
    }
    &:after {
        content: "";
        position: absolute;
        bottom: -11px;
        right: -5px;
        width: 2px;
        background: $blue2;
        height: 120%;
        }
    &:before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 3px;
        width: 106%;
        background: $blue2;
        height: 2px;
    }
    .fa{

    }
}
}

.Content{
    padding: 10px;
    border: 1px solid gainsboro;
    background: rgba(220, 220, 220, 0.25);
    margin-bottom: 20px;
} 

.Download{
    a{
        color: gainsboro;
        &:hover{
            color: $blue2;
            text-decoration: none;
        }
        .Download-inner{
            height: 150px;
            padding: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $blue1;
            text-align: center;
            font-weight: bold;
            span{

            }
        }
    }
}