$color: black;
$blue1: #173553;
$blue2: #3cb9ff;
$blue3: #0c52f9;

//MEDIA QUERIES
$tablet: 768px;
$phone: 512px;
$onTablet: "only screen and (max-width: $tablet)";
$onPhone: "only screen and (max-width: $phone)";


//RESEAUX SOCIAUX

$twitter: #00ACED;
$facebook: #3B5998;
$linkedin: #007BB6;
$youtube: #BB0000;
$whatsapp: #64D448;
$skype: #00AFF0;

$twitter-r: rgba(0,172,237,1);
$facebook-r: rgba(59,89,152,1);
$linkedin-r: rgba(0,123,182,1);
$youtube-r: rgba(187,0,0,1);
$whatsapp-r: rgba(100,212,72,1);
$skype-r: rgba(0,175,240,1);		